<div class="container">
  <form class="container" [formGroup]="modelForm">
    <div class="form-group">
      <label for="id">Id:</label>
      <input autocomplete="off" #id class="form-control" name="id" formControlName="id" />
    </div>
    <div class="form-group">
      <label for="n">Name:</label>
      <input autocomplete="off" #n class="form-control" name="name" formControlName="name" />
      <small class="form-text text-muted" *ngIf="formErrors.name">{{formErrors.name}}</small><br />
    </div>
    <div class="form-group">
      <label for="r">Role:</label>
      <input autocomplete="off" class="form-control" #r name="role" formControlName="role" />
      <small class="form-text text-muted" *ngIf="formErrors.role">{{formErrors.role}}</small><br />
    </div>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-1" role="group">
        <button class="btn btn-primary" (click)="get()">Get</button>
      </div>
      <div class="btn-group mr-1" role="group">
        <button [disabled]="!modelForm.value.id" class="btn btn-primary" (click)=getById(modelForm)>Get by id</button>
      </div>
      <div class="btn-group mr-1" role="group">
        <button [disabled]="!(modelForm.value.name && modelForm.value.role)" class="btn btn-primary" (click)=postEmployee(modelForm)>Post</button>
      </div>
      <div class="btn-group mr-1" role="group">
        <button [disabled]="!(modelForm.value.id && modelForm.value.role || modelForm.value.id && modelForm.value.name)" (click)=putEmployee(modelForm) class="btn btn-primary">Put</button>
      </div>
      <div class="btn-group mr-1" role="group">
        <button [disabled]="!modelForm.value.id" (click)="deleteEmployee(modelForm)" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </form>
  <br/>
  <br/>
  <ng-container *ngIf="response.length">
    {{response}}
  </ng-container>
</div>